<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/info/main.css">
	<title>填写信息</title>
</head>
<body>
<div class="container">
    <form action="{% if type == 'new' %}{% url 'info:add_handler' %}{% elif type == 'edit' %}{% url 'info:edit_handler' %}{% endif %}" method="post">
        {% if type == 'edit' %}
        <input type="hidden" name="id" value="{{ p.id }}">
        {% endif %}
        <div class="form-group">
            <label for="name">姓名</label>
            {% if type == 'new' %}
            <input class="input-box" type="text" name="name" required>
            {% else %}
            <div>{{ p.name }}</div>
            {% endif %}
        </div>
        
        <div class="form-group">
            <label for="">性别</label>
            <select class="input-box" name="sex" id="">
                <option value="男" {% if type == 'new' or p.sex == '男' %} selected{% endif %}>男</option>
                <option value="女" {% if p.sex == '女' %} selected{% endif %}>女</option>
            </select>
        </div>

        <div class="form-group">
            <label for="phone">电话</label>
            {% if type == 'new' %}
            <input class="input-box" type="text" name="phone" required>
            {% else %}
            <div>{{ p.phone }}</div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="">院系班级</label>
            <input class="input-box" type="text" name="classname" value="{{ p.classname }}" required>
        </div>

        <div class="form-group">
            <label for="phone">生日</label>
            <input class="input-box" type="text" name="birthday" value="{{ p.birthday }}" required>
        </div>

        <div class="form-group">
            <label for="qq">QQ</label>
            <input class="input-box" type="text" name="qq" value="{{ p.qq }}" required>
        </div>

        <div class="form-group">
            <label for="dorm">宿舍</label>
            <input class="input-box" type="text" name="dorm" value="{{ p.dorm }}" required>
        </div>

        <div class="form-group">
            <label for="place">籍贯</label>
            <input class="input-box" type="text" name="place" value="{{ p.place }}" required>
        </div>

        <div class="form-group">
            <label for="">身高</label>
            <input class="input-box" type="text" name="height" value="{{ p.height }}" required>
        </div>

        <div class="form-group">
            <label for="">体重(kg)</label>
            <input class="input-box" type="text" name="weight" value="{{ p.weight }}" required>
        </div>

        <div class="form-group">
            <label for="">文化衫型号</label>
            <select class="input-box" name="size" id="">
                <option value="-" {% if type == 'new' or p.size == '' %} selected{% endif %}>----</option>
                <option value="S" {% if p.size == 'S' %} selected{% endif %}>S</option>
                <option value="M" {% if p.size == 'M' %} selected{% endif %}>M</option>
                <option value="L" {% if p.size == 'L' %} selected{% endif %}>L</option>
                <option value="XL" {% if p.size == 'XL' %} selected{% endif %}>XL</option>
                <option value="XXL" {% if p.size == 'XXL' %} selected{% endif %}>XXL</option>
                <option value="XXXL" {% if p.size == 'XXXL' %} selected{% endif %}>XXXL</option>
            </select>
        </div>

        <div class="form-group">
            <label for="">文化衫型号参考</label>
            <table>
                <tr>
                    <th>型号</th>
                    <th>男</th>
                    <th>女</th>
                </tr>
                <tr>
                    <td>S</td>
                    <td>160</td>
                    <td>155~160</td>
                </tr>
                <tr>
                    <td>M</td>
                    <td>165</td>
                    <td>160~165</td>
                </tr>
                <tr>
                    <td>L</td>
                    <td>170</td>
                    <td>165~170</td>
                </tr>
                <tr>
                    <td>XL</td>
                    <td>175</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>XXL</td>
                    <td>180</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>XXXL</td>
                    <td>185</td>
                    <td>&nbsp;</td>
                </tr>

            </table>
        </div>
        {% csrf_token %}
        <button type="submit" class="submit">提交</button>
    </form>
    {% if type == 'new' %}
    <div>
        <p></p>
        <h3>已经填写？</h3>
        <form action="{% url 'info:edit' %}" method="post">
            {% csrf_token %}
            <div class="form-group"><label for="">姓名</label><input type="text" class="input-box" name="name" required></div>
            <div class="form-group"><label for="">手机号码</label><input type="text" class="input-box" name="phone" require></div>
            <button type="submit" class="submit" style="background-color: #4caf50">修改</button>
        </form>
    </div>
    {% endif %}
</div>

</body>
</html>